// Text

.text-white
{
    color: $white;
}

.text-black
{
    color: $black;
}

.text-picton
{
    color: $picton;
}

.text-moonstone
{
    color:$moonstone;
}

.text-hansBlue
{
    color: $hansBlue;
}

// Background

.bg-blue
{
    background-color: $blue;
}

.bg-bubbles
{
    background-color: $bubbles;
}

.bg-cyan-100
{
    background-color: $cyan-100;
}

.bg-water
{
    background-color: $water;
}

.bg-cornflower
{
    background-color: $cornflower;
}

.bg-lavender
{
    background-color: $lavender;
}

.bg-hansBlue
{
    background-color: $hansBlue;
}

.featured-active
{
    background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}
