@font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url("/public/fonts/Poppins.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins Bold";
    src: url("/public/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins Extrabold";
    src: url("/public/fonts/Poppins-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins Italic";
    src: url("/public/fonts/Poppins-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins Light";
    src: url("/public/fonts/Poppins-Light.ttf") format("truetype");
}
