
$white: #fff;
$black: #000;
$bubbles: #EBFFF9;
$cyan-100:#DFF7F7;
$water:#C6E4F7;
$cornflower: #AAC0F0;
$lavender:#EDDBFF;
$picton: #35C2DE;
$moonstone: #3295C7;
$hansBlue: #456ABF;
$pink: #F576BC;
$magenta: #FF9ED5;
$lemon: #FFF9CF;
$blue: #004aad;
